* {
    margin:0;
}
html {
    font-size: 625%;
}
header {
    position: fixed;
    background: #5fc0cd;
    width: 100%;
    height: 0.5rem;
}
.hire {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) ;
}
.employee,.employer {
    outline: none;
    border:0;
    border-radius: 0.08rem;
    font-size: 0.2rem;
}
.employer {
    background-color: #55a8b3;
    color: #ffffff;
}
.employee {
    background-color: #ffffff;
    color: #7dccd6;
    position: relative;
    left: -0.08rem;
}
.map {
    background: url("task6images/map.png");
    background-size: 100%;
    float: right;
    outline: none;
    border:0;
    position: relative;
    top:50%;
    right:2%;
    transform:translatey(-50%);
    height:0.3rem;
    width: 0.3rem;
}
main {
    width:100%;
    padding-top:0.5rem;
    margin:0 0 0.3rem 0;
    overflow: hidden;
}
.container {
    position: fixed;
    width: 100%;
    padding: 0;
    height:0.4rem;
}
.dropdown {
    text-align: center;
    padding:0;
}
.container button {
    background-color: #ffffff;
    outline: none;
    font-size: 0.16rem;
    color: #999999;
    padding:0.1rem 0 0.1rem 0;
    border-bottom: #e1e5e7 0.01rem solid;
    border-right: #e1e5e7 0.01rem solid;
    border-radius: 0;
    border-top:0;
    border-left:0;
    height:0.4rem;
}
.caret {
    position: relative;
    top:0.15rem;
    right:0.05rem;
    float: right;
}
.dropdown-menu {
    width: 100%;
    min-width:0.3rem;
}
li {
    text-align: center;
}
.table {
    margin-bottom: 0;
    margin-top:0.4rem;
}
.date {
    background: url("task6images/css_sprites.png") no-repeat 0.1rem -0.31rem;
    background-size:0.3rem;
    padding-left: 0.4rem;
    color: #999999;
    font-size:0.17rem;
    line-height:0.3rem;
}
.range {
    color: #333333;
    font-size: 0.17rem;
    padding-left: 0.4rem;
    display:inline-block;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width: 60%;
}
.local {
    background: url("task6images/css_sprites.png") no-repeat 0.12rem -0.04rem;
    background-size:0.3rem;
    color: #999999;
    font-size: 0.17rem;
    padding-left: 0.4rem;
}
.money{
    background: url("task6images/css_sprites.png") no-repeat 0.85rem -0.52rem;
    background-size:0.25rem;
    float: right;
    color: #e63b0e;
    font-size: 0.19rem;
    padding-right: 0.35rem;
}
footer {
    position: fixed;
    width: 100%;
    height:0.5rem;
    display: flex;
    justify-content: space-between;
    background: #f8fafb;
    bottom: 0;
}
.home {
    position: relative;
    left:28%;
    top:0.05rem;
}
footer p {
    margin:0;
    line-height:0.25rem;
}
.person {
    position: relative;
    right:28%;
    top:0.05rem;
}
.home img{
    width:0.26rem;
    height: 0.2rem;
}
.write img {
    width:0.5rem;
    height: 0.5rem;
}
.person img {
    width:0.26rem;
    height:0.2rem;
}
