*{
    margin:0;
}
html {
    font-size: 625%;
}
header{
    width:100%;
    height:0.425rem;
    color: #ffffff;
    background-color: #5fc0cd;
}
.back {
    background: #5fc0cd url("images/jiantou.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 0.11rem;
    height: 0.165rem;
    border:0;
    top:0.135rem;
    left:0.175rem;
}
header p {
    font-size:0.15rem;
    text-align: center;
    line-height:0.425rem;
}
main {
    width: 100%;
    height:auto;
}
.main-top {
    background: url("images/doctor.png") no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
    width:100%;
    height: 1.635rem;
    position: relative;
}
.main-top img {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left:0.15rem;
    width: 0.8rem;
    height: 0.8rem;
}
.name {
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
    font-size: 0.17rem;
    margin-left: 1.2rem;
}
.address {
    background: url("images/Shape.png") no-repeat;
    background-size: 0.11rem;
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
    font-size:0.11rem;
    margin-left: 1.2rem;
    margin-top: 0.25rem;
    padding-left: 0.2rem;
}
.main-bot ul {
    padding-left: 0;
}
.main-bot ul li {
    width: 100%;
    height:auto;
    border-bottom:0.001rem solid #e1e5e7;
    font-size: 0.15rem;
    color: #333333;
    line-height: 0.35rem;
    display: flex;
    align-items: center;
}
li div {
    float: left;
}
.items {
    margin-left: 0.3rem;
    border-right: #e1e5e7 0.001rem solid;
    min-width: 1rem;
}
.news {
    margin-left: 0.4rem;
}
.skill {
    background: url("images/bar.png") no-repeat;
    background-position:0.15rem 0.03rem ;
    padding-left: 0.3rem;
}
.star {
    margin-left: 0.2rem;
    font-size:0.17rem;
}
.star img {
    width:0.2rem;
    height:0.2rem;
}
.money {
    color: #e26163;
}
footer {
    width: 100%;
    position: fixed;
    bottom:0;
    padding-bottom: 0.05rem;
}
.footerleft {
    width: 48%;
    height:0.3rem;
    float: left;
    border:#5fc0cd 0.005rem solid;
    border-radius:0.1rem;
    background: #ffffff;
    color: #5fc0cd;
}
.footerright {
    width:48%;
    height: 0.3rem;
    float: right;
    border:#5fc0cd 0.005rem solid;
    border-radius:0.1rem;
    background: #5fc0cd;
    color: #ffffff;
}
